{% block body %}

<div class="col-md-6 offset-md-3">
  <h2>Login</h2>
  <form method="POST" action="{% url 'home' %}" id="loginForm">
    {% csrf_token %}

    <div class="form-group mb-3">
      <input type="text" class="form-control" id="username" name="username"
             placeholder="Username" required>
    </div>
    <div class="form-group mb-3">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
    </div>
    <div class="form-group mb-3">
      <input type="checkbox" class="custom-control-input" name="remember_me" id="remember_me">
      <label class="custom-control-label" for="remember_me">Remember me</label>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Login</button>
      <a href="{% url 'reset_password' %}" class="d-block px-4 my-4 block">Forgot password?</a>
    </div>

  </form>
</div>

{% endblock %}
