{% extends 'base.html' %}

{% block body %}

<div class="col-md-6 offset-md-3">
  <h2>Make order for client</h2>
  <form method="POST" action="" id="orderForm">
    {% csrf_token %}

    {% if form.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% for field in form %}
          {% if field.errors %}
            {{ field.errors }}
          {% endif %}
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}

    {{ form.as_div }}

<!--    <div class="form-group mb-3">-->
<!--      <input type="text" class="form-control" id="client" name="client"-->
<!--             placeholder="Client email" required>-->
<!--    </div>-->
<!--    <div class="form-group mb-3">-->
<!--      <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>-->
<!--    </div>-->
<!--    <div class="form-group mb-3">-->
<!--      <input type="checkbox" class="custom-control-input" name="remember_me" id="remember_me">-->
<!--      <label class="custom-control-label" for="remember_me">Remember me</label>-->
<!--    </div>-->
<!--    <div class="text-center">-->
<!--      <button type="submit" class="btn btn-primary">Login</button>-->
<!--      <a href="{% url 'reset_password' %}" class="d-block px-4 my-4 block">Forgot password?</a>-->
<!--    </div>-->

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>

{% endblock %}
